<div class="layuimini-container">
    <div class="layuimini-main">
        <div class="layui-card">
    <div class="layui-card-header">播放历史</div>
    <div class="layui-card-body">
        <table class="layui-hide" id="dataTable" lay-filter="dataTable"></table>
    </div>
</div>

<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="del">
            <i class="layui-icon layui-icon-delete"></i> 批量删除
        </button>
    </div>
</script>

<script type="text/html" id="barTpl">
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
</script>

<script>
layui.use(['table', 'layer'], function(){
    var table = layui.table;
    var layer = layui.layer;
    var $ = layui.$;
    
    // 渲染表格
    table.render({
        elem: '#dataTable',
        url: '{:url("index")}',
        toolbar: '#toolbar',
        defaultToolbar: ['filter', 'print', 'exports'],
        cols: [[
            {type: 'checkbox', fixed: 'left'},
            {field: 'id', title: 'ID', width: 80, sort: true},
            {field: 'username', title: '用户名', width: 150},
            {field: 'nickname', title: '昵称', width: 150},
            {field: 'music_name', title: '歌曲名称', width: 300},
            {field: 'artist', title: '艺术家', width: 170},
            {field: 'play_duration_text', title: '播放时长', width: 100},
            {field: 'play_time', title: '播放时间', width: 180, sort: true},
            {fixed: 'right', title: '操作', width: 100, toolbar: '#barTpl'}
        ]],
        page: true,
        limits: [10, 20, 50, 100],
        limit: 20
    });
    
    // 头工具栏事件
    table.on('toolbar(dataTable)', function(obj){
        var checkStatus = table.checkStatus(obj.config.id);
        switch(obj.event){
            case 'del':
                var data = checkStatus.data;
                if(data.length === 0){
                    layer.msg('请选择要删除的数据');
                    return;
                }
                var ids = data.map(function(item){
                    return item.id;
                }).join(',');
                layer.confirm('确定要删除选中的记录吗？', function(index){
                    $.post('{:url("delete")}', {id: ids}, function(res){
                        if(res.code == 1){
                            layer.msg(res.msg, {icon: 1});
                            table.reload('dataTable');
                        } else {
                            layer.msg(res.msg, {icon: 2});
                        }
                    });
                    layer.close(index);
                });
                break;
        }
    });
    
    // 监听行工具事件
    table.on('tool(dataTable)', function(obj){
        var data = obj.data;
        if(obj.event === 'del'){
            layer.confirm('确定要删除该记录吗？', function(index){
                $.post('{:url("delete")}', {id: data.id}, function(res){
                    if(res.code == 1){
                        layer.msg(res.msg, {icon: 1});
                        obj.del();
                    } else {
                        layer.msg(res.msg, {icon: 2});
                    }
                });
                layer.close(index);
            });
        }
    });
});
</script>
    </div>
</div>
